.savd-highlighter {
    background: white;
    width: min-content;
    box-shadow: 0 1px 4px 2px rgba(187, 187, 187, 0.555);
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

.savd-lighter {
    display: flex;
    justify-content: space-between;
}

.savd-lighter button {
    height: 24px;
    width: 24px;
    margin: 8px;
    cursor: pointer;
    border: none;
    border: 1px solid #adadad;
    border-radius: 50%;
    outline: none;
}

.savd-lighter .button-closed {
    margin: 8px; 
    width: 48px;
    cursor: pointer;
}

.savd-lighter .button-closed div {
    position: absolute;
    height: 24px;
    width: 24px;
    border: 1px solid #adadad;
    border-radius: 50%;
}

.savd-lighter .material-icons {
    margin: 8px;
    cursor: pointer;
    color: #444444;
    padding: 0 !important;
}